.container-fluid {
    margin: 50px 0;
}

h3 {
    text-align: center;
    background: black;
    color: white;
    padding: 14px 0;
    font-weight: 800;
}

/* .body {
    display: flex;
}

.form-box, .map-div {
    width: 50%;
    padding: 0 8px;

}

form {
    border: 2px solid;
    border-radius: 6px;
    padding: 30px;
    background-color: burlywood;
}
h3 {
    text-align: center;
    background: black;
    color: white;
    padding: 14px 0;
    font-weight: 800;
}

#map {
    height: 100%;
  } */