.col-4 {
    padding-left: 0;
    padding-right: 0;
}

.conainer-fluid {
    height: 500px;
    overflow: hidden;
}

img{
    max-width: 100%;
}
/* .header{
    background: grey;
    color: #FFF;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
} */
#edit-image{
    float: right;
    padding: 0px 30px;
    display: none;
}
.modal-content {
    /* 80% of window height */
    height: 600px;
    width: 800px;
}   
#show-image{
    max-width: 100%;
}
.modal-footer{
    justify-content: flex-start;
}
.modal-body{
    max-Width: 767px;
    max-Height: 470px;
}

#editModal-content {
    height: max-content !important;
    width: 100% !important;
}

h2 {
    border-top: 2px solid red;
    margin-top :20px;
}

.json-data {
    text-align: center;

}

.render {
    height: 180px;
    margin: 50px;
    border: 2px solid green;
    text-align: center;
}

.json-data>div {
    display: flex;
    border: 2px solid;
    margin: 6px;
    flex-direction: column;
}

.ui-widget.ui-widget-content {
    width: 800px !important;
    left: 50% !important;
    transform: translateX(-50%) !important`;
}

.drag-drop {
    height: 300px;
    padding: 20px 0;
}

#draggable {
    width: max-content;
    margin: 10px 0;
}

#draggable > img {
    width: 100%;
    max-width: 120px;
}

#droppable {
    height: 70%;
    width: 100%;
}

.title {
    font-weight: 600;
    ;
}

p {
    font-size: 14px;
}

.buy-btn {
    display: flex;
    padding: .375rem 3.75rem;
    margin: 10px auto 0;
    background-color: #9a2323e6;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
}

.remove-btn {
    display: none;
    padding: .375rem 2.75rem;
    margin: 10px auto 0;
    background-color: #9a2323e6;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
}

.head {
    background-color: darksalmon;
}

header,
h4 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

h4 {
    font-size: 22px;
}

li {
    padding: .45rem 1.25rem;
}

.item-1-price::before {
    content: '$';
}

.products-box,
.list-box {
    padding: 30px 12px;
    background-color: #b5d0b5;
    margin: 6px 0;
    border-radius: 6px;
    height: 500px;
    overflow-y: scroll;
}

.list-box {
    background-color: burlywood;
    height: 422px;
    overflow-y: scroll;
}

.card {
    width: 80%;
    margin: 12px auto;
    background-color: darkgray;
}

.card-title {
    margin: 14px 0 0 0;
    text-align: center;
}

.list-group>li {
    background-color: grey;
}

footer {
    background-color: cadetblue;
    padding: 20px 0;
}

footer h4 {
    margin: 0;
}

.fc {
    width: 85%;
    margin: auto;
}