
* {
    box-sizing: border-box;
    padding: 0;
}

img {
    width: 100%;
    height: 40px;
    max-width: 110px;
}

.nav-padding {
    padding: 0;
}

p{
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

footer ul, footer p, .icons-nav {
    margin: 0;
}

a, .footer-copyright {
    color: white;
}


input::placeholder {
    opacity: 0.5;
    font-size: 14px;
}

header {
    position: relative;
    z-index: 11;
    color: black;
}

.header-nav {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.header-nav a {
    color: white;
}

.header-nav:hover {
    background-color: white;
}

.header-nav:hover a {
    color: black;
}

.graphic {
    position: relative;
    height: 200px;
    background-color: rgba(24, 26, 88, 0.9);
    transform: skew(0deg, 6deg);
    z-index: 10;
    top: -94px;
}

.infobutton {
    display: flex;
    align-items: flex-end;
 }

 .form-section {
    margin: 0 26px;
}

.register-section {
    margin: 0 24px 34px 0;
}

.list-group > li {
    margin: 6px 0;
}

.list-group > li:first-child {
    background-color: lightgray;
    font-weight: 600;
    font-size: 14px;
    margin: 6px 0;
}

li > .input-group > .form-control {
    border: 1px solid #b8bbbb;
}
.input-group-prepend {
    min-width: 20%;
}

.input-group-text {
    width: 100%;
}

.form-check {
    display: inline-block;
}

.subjects {
    display: block;
}

.Highlighted {
    background-color: red;
}

/* .datepicker table tr td:first-child {
    color: red
    } */

 .registerIcons {
    background-color:  rgba(24, 26, 88, 0.92);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 14px;
    color: white;
 }

 .registerIcons-2 {
    background-color: #04bee8;
    padding: 8px;
    border-radius: 8px;
    color: white;
 }

 .registerIcons > a, .registerIcons-2 > a {
    display: flex;
    align-items: center;
    font-size: 14px;
 }

 .registerIcons > a:hover, .registerIcons-2 > a:hover {
    color: white;
 }

 .registerIcons > a > i, .registerIcons-2 > a > i {
     padding: 0 16px;
     margin-right: 16px;
     border-right: 0.5px solid white;
 }

 .form-control {
    border: 1px solid #64b8c5;
}

.header-row {
    align-items: center;
    margin: 0;
}

.header-row .col-6, .login {
    padding: 0;
}

ul > li {
    display: inline;
}

.footer {
    align-self: center;

}

.footer-nav > ul {
    list-style: none;
    margin: 0;
}


.header-nav > a {
    padding: 8px 0;
}

.nav-3 {
    background-color: #04bee8;
}

.icons-nav > ul {
    display: flex;
    justify-content: center;
}

.icons-nav > ul > li .fa-facebook {
    background-color: blue;
    padding: 5px;
    border-radius: 8px;
    font-size: 16px;
}

.icons-nav > ul > li .fa-twitter {
    background-color: #04bee8;
    padding: 5px;
    border-radius: 8px;
    font-size: 16px;
}

.icons-nav > ul > li .fa-google-plus {
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    font-size: 16px;
}

section {
    background-color: #e4e4e4;
    padding: 78px 0 82px 0;
    margin-top: -200px;
}

.section-head {
    margin: 38px 0;
}


.section-head > h2, h3{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
}


label {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.btn {
    background-color: #04bee8;
    color: white;
    padding: .375rem 38px;
}

/* .required {
    color: red;
    margin-left: 4px;

} */

form > p a, .section-head > p a {
    color: #04bee8;
}

footer {
    background-color: rgba(24, 26, 88, 0.92);
}

.footer-row {
    padding: 14px;
}

.footer-nav li,.icons-nav li, .footer-copyright {
    font-size: 14px;
    padding: 0 8px;
}


i {
    color: white;
    font-size: 20px;
}

@media(min-width: 576px) {
    .icons-nav li {
        padding: 4px;
    }

    .icons-nav {
        display: flex;
    justify-content: center;
    }

}

@media(max-width: 576px) {
    .footer-nav, .icons-nav, .footer-copyright {
        text-align: center;
        padding: 12px 0;
    }

    .header-nav {
        font-size: 10px;
    }
}

@media(max-width: 767px) {
    .logo {
        display: flex;
        justify-content: center;
    }

    .form-section {
        margin: 0;
    }

    .register-section {
        margin: 0 0 34px 0;
    }

    .registerIcons, .registerIcons-2 {
        width: 75%;
    }
}